@import "variables";

$header-height: 3.75rem;

html {
}

body {
  padding: 0;
  margin: 0;
}

html, body, #__nuxt, #__layout, #app {
  height: 100%;
  width: 100%;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  height: $header-height !important;
  &, * {
    background-color: $bg-header-color;
  }
}

#sidebar {
  width: 220px !important;
  .vip-icon {
    padding-right: .3rem;
  }
}

#container {
  height: 100%;
  padding-top: $header-height;
}
